<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style/about-us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="img/abt-us.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Welcome to CSP Courses – the premier online platform dedicated to providing high-quality education and empowering students across the globe to achieve their academic and career goals.</p>
                        <a href="index">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area">
        <div width="2000px">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <p>At CSP Courses, we offer a diverse range of online courses designed to cater to learners of all levels. Whether you're just starting your educational journey or looking to advance your skills, we have something for everyone. Our courses cover a wide range of subjects, including:</p>
                        
                        <ul>
                        <li><a id="id" href="courses">CSE Course:</a>Courses in this discipline focus on critical areas such as Software Tools and Technology, Algorithms, Discrete Mathematics, and Artificial Intelligence (AI)—key components that form the foundation for building sophisticated software systems, optimizing solutions, and driving innovation.</li>
                        <li><a id="id" href="courses_math">Mathematics:</a>Dive deep into various fields of science and mathematics, from basic concepts to advanced theories.</li>
                        <li><a id="id" href="courses_program">Programming:</a>From beginner coding tutorials to advanced software development, learn the skills needed to thrive in the tech industry.</li>
                        </ul>
                        
                        <div class="dev">This website was created with the dedication and expertise of our talented team of developers, designers, and digital specialists. Here's a brief overview of the individuals who made it all possible: <br> <br>

    Rahul Raj – Backend Developer
    Expertise: Full-stack development, API integration, database management.<br> <br>

    Praveen Verma – Frontend Developer
    Expertise: Responsive web design, user experience, JavaScript, HTML/CSS.<br> <br>

    Sunil Kumar – Frontend Developer
    Expertise: Responsive web design.
    </div>
                        <a href="courses">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="img/abt2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
