<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="stylesheet" href="../public/style/articles.css">
    <link rel="stylesheet" href="../public/style/adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="style/articles.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <title>CourseCore Articles</title>
</head>

<body>

    <header class="articles-header">
        <nav>
            <div class="logo">
                <img src="img/logo.png" alt="logo">
                <a href="index.ejs">
                    <h1>CSPCourses</h1>
                </a>
            </div>
            <ul id="dropdown" class="nav-panel">

                <li class="btns">
                    <a href="register"><%= Log_In %></a>
                </li>
                <li>
                    <a href="courses">Courses</a>
                </li>
                <li>
                    <a href="articles">Articles</a>
                </li>
                <li>
                    <a href="about-us">About us</a>
                </li>
                <li>
                    <a href="privacypolicy">Privacy Policy</a>
                </li>
                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
            </ul>
            <ul>
                <li class="buttons">
                <a href="register"><i class="fa-solid fa-right-to-bracket"></i><%= Log_In %></a>
                </li>
                <li class="navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </li>
            </ul>

        </nav>
    </header>

    <div class="main-articles">
        <div class="main-articles-text">
            <h1>Read useful articles from the <span>CSP Courses</span> team</h1>
            <p>Our team regularly publishes topical articles that can keep you occupied between course sessions.</p>
        </div>
    </div>

    <div class="articles-container">

        <div class="articles">
            <div class="article">
                <h2>Python - how it is useful in AI?</h2>
                <p>Python is widely used in AI due to its simple syntax, vast library ecosystem, and powerful frameworks like TensorFlow, PyTorch, and Scikit-learn. These tools help in tasks like data analysis, machine learning, and deep learning, making Python a top choice for AI development..</p>
                <div class="article-desc">
                    <p class="topic">Programming</p>
                    <p><i class="fa-regular fa-eye"></i> 150</p>
                    <p>Reading time: 2 min.</p>
                </div>
            </div>
            <div class="article">
                <h2>How Linaer Algebra is gonna useful in advance mathematics?</h2>
                <p> Linear algebra is fundamental for understanding and solving problems involving vector spaces and linear mappings. It is used to solve systems of linear equations, perform matrix operations, and study geometric transformations. Concepts like eigenvalues, eigenvectors, and determinants are essential in fields like calculus, differential equations, and optimization.</p>
                <div class="article-desc">
                    <p class="topic">Mathematics</p>
                    <p><i class="fa-regular fa-eye"></i> 150</p>
                    <p>Reading time: 2 min.</p>
                </div>
            </div>
            <div class="article">
                <h2>How Data Structures are helpful in software Development?</h2>
                <p>Data Structures and Algorithms (DSA) are essential in computer science as they provide efficient ways to organize, manage, and process data. Data structures like arrays, linked lists, trees, and graphs help store and access data effectively, while algorithms like searching, sorting, and dynamic programming solve computational problems systematically. Mastering DSA improves problem-solving skills and optimizes software performance.</p>
                <div class="article-desc">
                    <p class="topic">Computer Science</p>
                    <p><i class="fa-regular fa-eye"></i> 150</p>
                    <p>Reading time: 2 min.</p>
                </div>
            </div>
        </div>
    </div>


    <footer>

        <div class="footer-1">
            <div class="footer-logo-cont">
                <img src="img/logo.png" alt="logo">
                <h1>CourseCore</h1>
            </div>
            <div class="payment-cont">
            </div>
        </div>
        <div class="footer-2" id="contact-us">
            <h2>Contact Us</h2>
            <ul>
                <a href="#"><i class="fa-solid fa-phone"></i> Tel +91 7234-XX-XX</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> cspcourse.support@gmail.com</a>
                <a href="#"><i class="fa-brands fa-twitter"></i> @cspcourse</a>
            </ul>
        </div>
        <div class="footer-3">
            <h2>Useful Newsletter</h2>
            <p>Let us notify you about new blog articles, new free courses and share useful
                materials.</p>
            <form class="footer-news-action">
                <input type="text" placeholder="Your E-mail...">
                <button type="submit">Send</button>
            </form>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>