<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/courses.css">
    <link rel="stylesheet" href="style/adaptive.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="img/icon.png">
    <title>CSP - Course Details</title>
</head>

<body>

    <header>
                <nav>
            <div class="logo">
                <img src="img/logo.png" alt="logo">
                <a href="index.ejs">
                    <h1>CSPCourses</h1>
                </a>
            </div>
            <ul id="dropdown" class="nav-panel">

                <li class="btns">
                    <a href="register"><%= Log_In %></a>
                </li>
                <li>
                    <a href="courses">Courses</a>
                </li>
                <li>
                    <a href="articles">Articles</a>
                </li>
                <li>
                    <a href="about-us">About us</a>
                </li>
                <li>
                    <a href="privacypolicy">Privacy Policy</a>
                </li>
                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
            </ul>
            <ul>
                <li class="buttons">
                <a href="register"><i class="fa-solid fa-right-to-bracket"></i><%= Log_In %></a>
                </li>
                <li class="navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </li>
            </ul>

        </nav>
    </header>

    <div class="back-to-courses">
        <a href="courses">
            <i class="fa-solid fa-arrow-left-long"></i>Back to Courses
        </a>
    </div>

    <div class="course-main-content" style="margin-bottom: 400px;">
        <img src="img/csp.jpg" alt="ui/ux">
        <div class="course-main-text">
            <h1>Software Tools and Technologies</h1>
            <p>This course provides an in-depth exploration of the core tools and technologies used throughout the software development lifecycle. Students will gain hands-on experience with industry-standard tools for version control, debugging, testing, and continuous integration, as well as an understanding of emerging technologies shaping the future of software engineering.</p>
            <div class="diff"><strong>Difficulty:</strong>Medium
            <strong>Duration:</strong>2 months</div>
            <a href="#">Buy Now:₹799</a>
        </div>

        <div class="dropdown-box" >
            <h2>Course Program</h2>
            <div class="drowBox">
                <div class="opener">
                    <h1>What are Software Tools?</h1>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="content">
                    <ul>
                        <li>Version Control</li>
                        <li>Testing and Debugging</li>
                        <li>Collaboration Tools</li>
                        <li>Build and Dependency Management</li>
                    </ul>
                </div>
            </div>

            <div class="drowBox">
                <div class="opener">
                    <h1>Software Technologies</h1>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="content">
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Frontend Frameworks</li>
                    </ul>
                </div>
            </div>

            <div class="drowBox">
                <div class="opener">
                    <h1>Benefits With This Course</h1>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="content">
                    <ul>
                        <li>Work in Diverse Environments</li>
                        <li>Master System Administration</li>
                        <li>Automation</li>
                    </ul>
                </div>
            </div>

            <div class="drowBox">
                <div class="opener">
                    <h1>Course review</h1>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="content">
                    <ul>
                        <li>Projects Discussion</li>
                        <li>Q&A</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-1">
            <div class="footer-logo-cont">
                <img src="img/logo.png" alt="logo">
                <h1>CourseCore</h1>
            </div>
        </div>
        
        <div class="footer-2" id="contact-us">
            <h2>Contact Us</h2>
            <ul>
                <a href="#"><i class="fa-solid fa-phone"></i> Tel +91 7234-XX-XX</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> cspcourses.support@gmail.com</a>
                <a href="#"><i class="fa-brands fa-twitter"></i> @cspcourses</a>
            </ul>
        </div>

        <div class="footer-3">
            <h2>Useful Newsletter</h2>
            <p>Let us notify you about new blog articles, new free courses, and share useful materials.</p>
            <form class="footer-news-action">
                <input type="text" placeholder="Your E-mail...">
                <button type="submit">Send</button>
            </form>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>

