<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/courses.css">
    <link rel="stylesheet" href="style/adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="img/icon.png">

    <title>CSP-Courses Platform</title>
</head>

<body>

    <header class="courses-header">
        <nav>
            <div class="logo">
                <img src="img/logo.png" alt="logo">
                <a href="index">
                    <h1>CSPCourses</h1>
                </a>
            </div>
            <ul id="dropdown" class="nav-panel">

                <li class="btns">
                    <a href="register">Log out</a>
                </li>
                <li>
                    <a href="courses">Courses</a>
                </li>
                <li>
                    <a href="articles">Articles</a>
                </li>
                <li>
                    <a href="about-us">About us</a>
                </li>
                <li>
                    <a href="privacypolicy">Privacy Policy</a>
                </li>
                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
            </ul>
            <ul>
                <li class="buttons">
                    <a href="register"><i class="fa-solid fa-right-to-bracket"></i>Log out</a>
                </li>
                <li class="navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </li>
            </ul>

        </nav>
        <div class="categories-background">
            <div class="categories-wrapper">
                <div class="categories-container hover-dropdown" id="categories">
                    <h3>Course categories</h3>

                    <div class="categories">
                        <a href="courses">CSE Courses</a>
                        <a href="courses_maths">Mathematics</a>
                        <a href="courses_program">Programming</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main-courses">

        <div class="course-cards">

            <div class="card" id="economics">
                <img src="img/python.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Python</h2>
                        <p>This course introduces students to Python, a high-level, versatile programming language known for its simplicity and readability. Students will learn the fundamental programming concepts including variables, data types, control flow (loops, conditionals), functions, and object-oriented programming (OOP). The course will also cover Python’s extensive standard library, data structures (lists, dictionaries, sets), and basic file handling.</p>
                        <div class="card-action">
                            <a href="course" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="mathematics">
                <img src="img/java.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Java</h2>
                        <p>This course covers the basics of Java, a widely used, object-oriented programming language that powers applications from mobile apps to large-scale enterprise systems. Students will learn about Java syntax, variables, data types, control flow, and methods. A major focus will be on object-oriented programming (OOP) concepts such as classes, inheritance, polymorphism, encapsulation, and abstraction.</p>

                        <div class="card-action">
                            <a href="#" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="programming">
                <img src="img/ruby.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Ruby</h2>
                        <p>This course introduces students to Ruby, a dynamic, high-level programming language known for its elegant syntax and focus on developer happiness. Students will learn the core principles of Ruby programming including variables, methods, control flow, and blocks. Emphasis will be placed on Ruby's object-oriented nature, with students exploring classes, objects, inheritance, and mix-ins.</p>

                        <div class="card-action">
                            <a href="#" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/c.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>C#</h2>
                        <p>This course provides an introduction to C#, a modern, object-oriented language developed by Microsoft and commonly used in Windows development, web applications, and game programming with Unity. Students will learn fundamental programming concepts in C#, including variables, data types, conditionals, loops, and methods. A strong emphasis will be placed on object-oriented programming (OOP), including the use of classes, inheritance, polymorphism, and encapsulation.  </p>
                        <div class="card-action">
                            <a href="#" class="button">Read more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="courses-footer">

        <div class="footer-1">
            <div class="footer-logo-cont">
                <img src="img/logo.png" alt="logo">
                <h1>CourseCore</h1>
            </div>
            <div class="payment-cont">
                <p>Secure Payment</p>
                <img src="img/visa-mastercard.png" alt="payment">
            </div>
        </div>
        <div class="footer-2" id="contact-us">
            <h2>Contact Us</h2>
            <ul>
                <a href="#"><i class="fa-solid fa-phone"></i> Tel +1 (98) 102-546-15-12</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> coursecore.support@gmail.com</a>
                <a href="#"><i class="fa-brands fa-twitter"></i> @coursecore</a>
            </ul>
        </div>
        <div class="footer-3">
            <h2>Useful Newsletter</h2>
            <p>Let us notify you about new blog articles, new free courses and share useful
                materials.</p>
            <form class="footer-news-action">
                <input type="text" placeholder="Your E-mail...">
                <button type="submit">Send</button>
            </form>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>
