<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/courses.css">
    <link rel="stylesheet" href="style/adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="img/icon.png">

    <title>CSP-Courses Platform</title>
</head>

<body>

    <header class="courses-header">
        <nav>
            <div class="logo">
                <img src="img/logo.png" alt="logo">
                <a href="index">
                    <h1>CSPCourses</h1>
                </a>
            </div>
            <ul id="dropdown" class="nav-panel">

                <li class="btns">
                    <a href="register"><%=Log_In%></a>
                </li>
                <li>
                    <a href="courses">Courses</a>
                </li>
                <li>
                    <a href="articles">Articles</a>
                </li>
                <li>
                    <a href="about-us">About us</a>
                </li>
                <li>
                    <a href="privacypolicy">Privacy Policy</a>
                </li>
                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
            </ul>
            <ul>
                <li class="buttons">
                    <a href="register"><i class="fa-solid fa-right-to-bracket"></i><%=Log_In%></a>

                </li>
                <li class="navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </li>
            </ul>

        </nav>
        <div class="categories-background">
            <div class="categories-wrapper">
                <div class="categories-container hover-dropdown" id="categories">
                    <h3>Course categories</h3>

                    <div class="categories">
                        <a href="courses">CSE Courses</a>
                        <a href="courses_maths">Mathematics</a>
                        <a href="courses_program">Programming</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main-courses">

        <div class="course-cards">

            <div class="card" id="economics">
                <img src="img/csp.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Software Tools and Technologies</h2>
                        <p>This course offers a comprehensive overview of essential software tools and technologies used in modern software development. It is designed for students and professionals who want to understand the full ecosystem of tools involved in building, testing, deploying, and maintaining software applications. The course includes programming languages and development environments to version control, CI/CD, cloud services, and software testing.</p>
                        <div class="card-action">
                            <a href="course" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="mathematics">
                <img src="img/dismath.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Discrete Mathematics</h2>
                        <p>This course offers a comprehensive introduction to Discrete Mathematics, emphasizing the mathematical foundations required for computer science and software engineering.This course covers key concepts in logic, set theory, combinatorics, graph theory, algorithms, and number theory, all of which form the theoretical basis for computer science, cryptography, and software development. </p>

                        <div class="card-action">
                            <a href="course" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="programming">
                <img src="img/dsa.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Algorithms and Data Structures</h2>
                        <p>An overview of data structure concepts, arrays, stack, queues, trees, and graphs. Discussion
                            of various implementations of these data objects, programming styles, and run-time
                            representations. Course also examines algorithms for sorting, searching and some graph
                            algorithms. Algorithm analysis and efficient code design is discussed.</p>

                        <div class="card-action">
                            <a href="course" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/ai.jpg" alt="">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Artificial Intelligence</h2>
                        <p>This course provides a comprehensive introduction to Artificial Intelligence (AI), exploring the foundational principles and practical applications of AI 		            technologies. Students will learn about the core concepts in AI, including machine learning, natural language processing, search algorithms, robotics,  	and reasoning. 
                        </p>
                        <div class="card-action">
                            <a href="course" class="button">Read more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="courses-footer">

        <div class="footer-1">
            <div class="footer-logo-cont">
                <img src="img/logo.png" alt="logo">
                <h1>CSP Course</h1>
            </div>
            <div class="payment-cont">
                <p></p>
            </div>
        </div>
        <div class="footer-2" id="contact-us">
            <h2>Contact Us</h2>
            <ul>
                <a href="#"><i class="fa-solid fa-phone"></i> Tel +91 7234-XX-XX</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> CSP Course.support@gmail.com</a>
                <a href="#"><i class="fa-brands fa-twitter"></i> @CSP Course</a>
            </ul>
        </div>
        <div class="footer-3">
            <h2>Useful Newsletter</h2>
            <p>Let us notify you about new blog articles, new free courses and share useful
                materials.</p>
            <form class="footer-news-action">
                <input type="text" placeholder="Your E-mail...">
                <button type="submit">Send</button>
            </form>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>
