<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/privacyPolicy.css">
    <link rel="stylesheet" href="style/adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="img/icon.png">

    <title>Privacy Policy - CSPCourse</title>
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <img src="img/logo.png" alt="logo">
                <a href="index">
                    <h1>CourseCore</h1>
                </a>
            </div>
            <ul id="dropdown" class="nav-panel">

                <li class="btns">
                    <a href="register">Log in</a>
                </li>
                <li>
                    <a href="courses">Courses</a>
                </li>
                <li>
                    <a href="articles">Articles</a>
                </li>
                <li>
                    <a href="about-us">About us</a>
                </li>
                <li>
                    <a href="privacypolicy">Privacy Policy</a>
                </li>
                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
            </ul>
            <ul>
                <li class="buttons">
                    <a href="register"><i class="fa-solid fa-right-to-bracket"></i>Log in</a>
                </li>
                <li class="navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </li>
            </ul>

        </nav>
    </header>

    <div class="pp-main-container">
        <h1>Privacy Policy</h1>
        <div class="pp-main-text">
            <div class="pp-main-title">
                <h4>Privacy Policy of CSPc Courses</h4>
                <p>CSP Courses collects some personal data from it's users</p>
            </div>
            <div class="pp-main-desc">
                <h3>Personal Data collected for the following purposes and using the following services:</h3>
                <div class="pp-services">
                    <div class="service">
                        <h4><i class="fa-solid fa-user"></i> Information We Collect:</h4>
                        <p>E-mail address for user registration and authentication and account management, including
                            password changes and account recovery.</p>
                    </div>
                    <div class="service">
                        <h4><i class="fa-solid fa-bell"></i> How We Use Your Information:</h4>
                        <p>To create and manage your account, process course purchases, and deliver online courses or related content.
                        To analyze user activity on our site and improve our website and course offerings.</p>
                    </div>
                    <div class="service">
                        <h4><i class="fa-solid fa-comments-dollar"></i> Cookies and Tracking Technologies:</h4>
                        <p>We use cookies and similar tracking technologies to enhance your experience on our website. They allow us to remember your preferences, improve site performance, and analyze website traffic.</p>
                    </div>
                    <div class="service">
                        <h4><i class="fa-solid fa-chart-simple"></i> How We Share Your Information:</h4>
                        <p>We do not sell or rent your personal information to third parties. However, we may share your information with the following parties.</p>
                    </div>
                    <div class="service">
                        <h4><i class="fa-brands fa-cc-paypal"></i> Data Security:</h4>
                        <p>We implement a variety of security measures to protect your personal information. These include encryption, secure socket layer (SSL) technology, and access controls. However, no method of electronic storage or transmission is 100% secure, so we cannot guarantee absolute security.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

        <div class="footer-1">
            <div class="footer-logo-cont">
                <img src="img/logo.png" alt="logo">
                <h1>CourseCore</h1>
            </div>
        <div class="footer-2" id="contact-us">
            <h2>Contact Us</h2>
            <ul>
                <a href="#"><i class="fa-solid fa-phone"></i> Tel +91 7234-XX-XX</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> cspcourse.support@gmail.com</a>
                <a href="#"><i class="fa-brands fa-twitter"></i> @cspcourse</a>
            </ul>
        </div>
        <div class="footer-3">
            <h2>Useful Newsletter</h2>
            <p>Let us notify you about new blog articles, new free courses and share useful
                materials.</p>
            <form class="footer-news-action">
                <input type="text" placeholder="Your E-mail...">
                <button type="submit">Send</button>
            </form>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>
